* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial;
}

#toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #222;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

#toolbar button {
  margin-left: 10px;
  padding: 5px 10px;
}

canvas {
  display: block;
}
